/* You can add global styles to this file, and also import other style files */
html {
  scroll-behavior: smooth;
}
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  box-sizing: border-box;
}

.add-form {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
  gap: 8px;
  max-width: 500px;

  .form-row {
    display: flex;
    flex-direction: row;
    gap: 8px;

    mat-form-field {
      width: calc(50% - 4px);
    }

    &.three {
      mat-form-field {
        width: calc(33% - 4px);
      }
    }
  }
}
